<div ng-cloak class="trinket-assignment" ng-class="{preview : preview}">
  <div ng-show="!assignmentVisible || loadingAssignment" class="overlay-wrapper">
    <div class="overlay"></div>
    <div ng-hide="loadingAssignment" class="start-assignment text-center">
      <a ng-if="!preview" ng-click="startAssignment()" class="button primary" role="button" tabindex="0"><i class="fa fa-play-circle-o"></i> Aufgabe {{ userId ? "starten" : "ansehen" }}</a>
      <div ng-if="!preview && hasDueDate()" class="button secondary light disabled">Fällig {{ material.trinket.submissionsDue.dateValue | amUtc | amLocal | amDateFormat:'llll' }}</div>
      <div ng-if="!preview && !submissionsAllowed"><p class="submission-warning"><i class="fa fa-exclamation-circle caution"></i> Wichtig: Abgeben kannst du nur als Teilnehmer:in dieses Kurses.<br />Bitte deine Lehrkraft, dich einzutragen.</p></div>
      <div ng-if="preview">
        <a ng-click="showAssignment()" class="button primary">Trinket anzeigen</a>
        <a ng-if="editLink" href="{{ editLink }}" target ="_blank" class="button primary">Trinket bearbeiten</a>
      </div>
    </div>
    <div ng-show="loadingAssignment" class="loading-assignment">
      <span><i class="fa trinket-key logo green fa-flip-horizontal fa-spin"></i> Wird geladen</span>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-12 columns">
      <iframe class="student-assignment" ng-src="{{ trinketIframe }}" width="100%" height="400" frameborder="0" marginwidth="0" allowfullscreen></iframe>
    </div>
  </div>
  <div ng-if="!preview" class="row collapse">
    <div class="small-12 columns">
      <div class="row">
        <div class="small-6 columns end">
          <label>Kommentar an deine Lehrkraft</label>
          <textarea ng-model="submission.comments" ng-model-options="{ debounce : 1000 }" ng-change="autosaveComments()" ng-disabled="!canSubmit || !submissionsAllowed"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <a ng-class="{disabled:!assignmentVisible || !canSubmit || !submissionsAllowed, light:!isModified}"
             ng-click="submitAssignment()" class="button secondary small submit-button">
            <i class="fa" ng-class="submittingCode ? 'fa-circle-o-notch fa-spin' : codeSubmitted ? 'fa-check' : 'fa-cloud-upload'"></i>
            {{ codeSubmitted ? "Abgegeben" : canUpdate ? "Abgabe aktualisieren" : "Abgeben" }}</a>

          <div ng-if="assignmentVisible" class="assignment-notices">
            <span ng-if="hasDueDate() && submissionsAllowed">
              <span ng-if="beforeDue()">
                <i class="fa fa-fw fa-clock-o"></i>
                Abgabe bis {{ material.trinket.submissionsDue.dateValue | amUtc | amLocal | amDateFormat:'llll' }}
              </span>
              <span ng-if="betweenDueAndCutoff()" class="assignment-warning">
                <i class="fa fa-fw fa-clock-o"></i>
                Die Abgabe war fällig am {{ material.trinket.submissionsDue.dateValue | amUtc | amLocal | amDateFormat:'llll' }}.
                Du kannst noch verspätet abgeben; deine Lehrkraft entscheidet, ob sie die Abgabe annimmt.
              </span>
              <span ng-if="pastCutoff()" class="assignment-error">
                <i class="fa fa-fw fa-clock-o"></i>
                Die Abgabe war fällig am {{ material.trinket.submissionsDue.dateValue | amUtc | amLocal | amDateFormat:'llll' }}. Eine Abgabe ist nicht mehr möglich.
              </span>
            </span>
            <span ng-if="!submissionsAllowed || !userId" class="assignment-warning">
              <i class="fa fa-exclamation-circle"></i>
              <span ng-if="userId">Wichtig: Abgeben kannst du nur als Teilnehmer:in dieses Kurses. Bitte deine Lehrkraft, dich einzutragen.</span>
              <span ng-if="!userId">Wichtig: Deine Arbeit wird nicht gespeichert. <a ng-click="goto('login')">Melde dich an</a>, damit sie gespeichert wird.</span>
            </span>
          </div>

        </div>
      </div>
      <div class="row" ng-show="errorMessage">
        <div class="small-12 columns">
          <p class="assignment-error"><i class="fa fa-exclamation-triangle"></i> {{ errorMessage }}</p>
        </div>
      </div>
    </div>
  </div>

  <div ng-show="original != null || submissions.length > 0" class="assignment-versions-container" role="complementary" role="tablist" aria-label="Abgaben und Rückmeldungen">

    <div ng-repeat="submission in submissions" class="row collapse">
      <div class="small-12 columns">
        <div class="row">
          <div class="small-12 columns" role="tab" ng-click="toggleSubmission(submission)">
            <span ng-class="{'previous-label':showSubmission[submission.id]}">
              <span>{{ submission.submissionState === 'submittedLate' ? 'Verspätete Abgabe' : 'Meine Abgabe' }} {{ submissions.length - $index }}</span>
              &mdash; <span title="{{ submission[ stateDateFields[ submission.submissionState ] ] | localDate }}">{{ submission[ stateDateFields[ submission.submissionState ] ] | formatDate }}</span>
              <span ng-if="submission.feedback" class="label success"><i class="fa fa-reply"></i> Rückmeldung</span>
            </span>
          </div>
        </div>
        <div class="row collapsed" ng-class="{'show-row':showSubmission[submission.id]}">
          <div class="small-12 columns">
            <div class="row" role="tabpanel">
              <div class="small-12 columns">
                <iframe class="previous-submission"
                        ng-if="showSubmission[submission.id]"
                        ng-src="{{ submissionSrc[ submission.id ] }}"
                        width="100%" height="400" frameborder="0" marginwidth="0" allowfullscreen
                        tabindex="0" aria-label="Frühere Abgabe"></iframe>

                <strong tabindex="0" aria-label="Dein Kommentar">Dein Kommentar:</strong><br />{{ submission.comments[0].commentText }}
              </div>
            </div>

            <!-- if feedback given -->

            <hr ng-if="submission.feedback" />

            <div class="row" ng-if="submission.feedback">
              <div class="small-12 columns">
                <strong>Rückmeldung der Lehrkraft:</strong>
              </div>
            </div>

            <div class="row" ng-if="submission.feedback.includeRevision">
              <div class="small-12 columns">
                <iframe ng-if="showSubmission[submission.feedback.id]"
                        ng-src="{{ submissionSrc[ submission.feedback.id ] }}"
                        width="100%" height="400" frameborder="0" marginwidth="0" allowfullscreen></iframe>
              </div>
            </div>

            <div ng-if="submission.feedback" class="row">
              <div class="small-4 comment-info columns">
                <img class="avatar" ng-src="{{ submission.feedback.comment.avatar }}" /> {{ submission.feedback.comment.displayName }}<br />
                <span class="submission-commented" title="{{ submission.feedback.lastUpdated | localDate }}">{{ submission.feedback.comment.commented | formatDate }}</span>
              </div>
              <div class="small-8 columns">
                <p tabindex="0" aria-label="Rückmeldung der Lehrkraft" ng-bind-html="displayFeedback(submission.feedback.comment.commentText)"></p>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

    <div ng-show="original" class="row collapse">
      <div class="small-12 columns">
        <div class="row">
          <div class="small-12 columns" role="tab" ng-click="toggleOriginal()">
            <span ng-class="{'original-label':showOriginal}">Ausgangsversion</span>
          </div>
        </div>
        <div class="row collapsed" ng-class="{'show-row':showOriginal}" role="tabpanel">
          <div class="small-12 columns">
            <iframe class="original-assignment" ng-if="showOriginal" ng-src="{{ original }}"
                    width="100%" height="400" frameborder="0" marginwidth="0" allowfullscreen
                    tabidex="0" aria-label="Ausgangsversion der Aufgabe"></iframe>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
