.git
.github
.claude
node_modules
public/components
public/css/*.css
public/css/*.map
config/local.yaml
config/production.yaml
config/development.yaml
.env
.env.*
!.env.example
docs
serverside
test
*.md
!README.md
public/vendor
