<h3>{{ existing ? 'Aufgabe bearbeiten' : 'Neue Aufgabe &mdash; ' + lesson.name }}</h3>
<form name="edit-assignment-form">
  <div class="row">
    <div class="small-12 columns">
      <label>Name der Aufgabe</label>
      <input type="text" name="assignment-name" ng-model="material.name" />
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <label>Aufgabenstellung</label>
      <div class="instructions-container">
        <div id="trinket-instructions-editor"></div>
      </div>
    </div>
  </div>

  <div class="row" ng-hide="trinket">
    <div class="small-12 columns">
      <label>Trinket</label>
    </div>
  </div>
  <div class="row" ng-hide="trinket">
    <div class="small-6 columns">
      <trinket-search on-select="addSelectedTrinket" placeholder-text="Trinket suchen und hinzufügen" input-id="for-assignment" search-label-id="no-search-label" no-label="true"></trinket-search>
    </div>
    <div class="small-6 columns">
      <a class="tiny button primary dropdown no-transform" data-dropdown="edit-blank-trinket">oder leeres Trinket anlegen</a>
      <ul id="edit-blank-trinket" class="tiny f-dropdown text-left" data-dropdown-content>
        <li ng-repeat="type in trinketTypes">
          <a ng-click="addBlankTrinket(type)"><i class="lang-sprite lang-sprite-{{ type.lang }}"></i>{{ type.label }} <i ng-show="type.icon" class="{{ type.icon }}"></i></a>
        </li>
      </ul>
      <a ng-if="existing" class="tiny button caution right" ng-click="keepTrinket()">abbrechen</a>
    </div>
  </div>

  <div class="row" ng-show="trinket">
    <div class="small-12 columns">
      <label>Trinket</label>
    </div>
  </div>
  <div class="row" ng-show="trinket">
    <div class="small-12 columns">
      <span class="trinket-list-with-lang lang-{{ trinket.lang }}"><a ng-click="changeTrinket()" title="Klicken, um ein anderes Trinket zu wählen">{{ trinket.name }}</a></span>

      <!-- todo: come up with a different UI element for this... above better? -->
      <!-- <a ng-click="changeTrinket()"><i class="fa fa-times-circle"></i> change</a> -->
    </div>
  </div>

  <!-- dates -->
  <div class="row">
    <div class="small-12 columns">
      <fieldset>
        <legend>Termine</legend>
          <div class="row" id="dates-container">
            <div class="small-12 medium-6 columns"> <!-- set due date -->

              <div class="row">
                <div class="small-4 large-2 columns">
                  <fieldset class="switch small radius">
                    <input type="checkbox" id="submissionsDueEnabled" ng-model="submissionsDueEnabled" ng-change="toggleSubmissionsDue()">
                    <label for="submissionsDueEnabled"></label>
                  </fieldset>
                </div>
                <div class="small-8 large-6 columns end">
                  <label for="submissionsDueEnabled" class="inline">Fälligkeitsdatum</label>
                </div>
              </div>

              <div class="row" ng-show="submissionsDueEnabled" style="margin-bottom:0.75rem">
                <div class="small-12 columns">
                  <label for="submissionsDue">Fällig am <i class="fa fa-info-circle open" data-tooltip="" aria-haspopup="true" title="Abgaben nach diesem Zeitpunkt gelten als verspätet"></i></label>
                  <input type="datetime-local" step="900" id="submissionsDue" class="assignment-datetime"
                         ng-model="submissionsDue" ng-change="setsubmissionsDue(submissionsDue)" />
                </div>
              </div>

              <div class="row" ng-show="submissionsDueEnabled">
                <div class="small-12 columns">
                  <label>Abgabeschluss <i class="fa fa-info-circle open" data-tooltip="" aria-haspopup="true" title="Nach diesem Zeitpunkt ist keine Abgabe mehr möglich (optional)"></i></label>
                  <a ng-show="!submissionsCutoffEnabled" ng-click="toggleSubmissionsCutoff()">Abgabeschluss setzen</a>
                  <a ng-show="submissionsCutoffEnabled" ng-click="toggleSubmissionsCutoff()">Abgabeschluss entfernen</a>

                  <div ng-show="submissionsCutoffEnabled" style="margin-top:0.5rem">
                    <input type="datetime-local" step="900" id="submissionsCutoff" class="assignment-datetime"
                           ng-model="submissionsCutoff" ng-change="setsubmissionsCutoff(submissionsCutoff)" />
                  </div>
                </div>
              </div>

            </div> <!-- end set due date -->

            <div class="small-12 medium-6 columns"> <!-- control visibility -->

              <div class="row">
                <div class="small-4 large-2 columns">
                  <fieldset class="switch small radius">
                    <input type="checkbox" id="availableOnEnabled" ng-model="availableOnEnabled" ng-change="toggleAvailableOn()">
                    <label for="availableOnEnabled"></label>
                  </fieldset>
                </div>
                <div class="small-8 large-6 columns end">
                  <label for="availableOnEnabled" class="inline">Sichtbarkeit steuern</label>
                </div>
              </div>

              <div class="row" ng-show="availableOnEnabled" style="margin-bottom:0.75rem">
                <div class="small-12 columns">
                  <label for="availableOn">Sichtbar ab <i class="fa fa-info-circle open" data-tooltip="" aria-haspopup="true" title="Ab diesem Zeitpunkt sehen die Schülerinnen und Schüler die Aufgabe"></i></label>
                  <input type="datetime-local" step="900" id="availableOn" class="assignment-datetime"
                         ng-model="availableOn" ng-change="setavailableOn(availableOn)" />
                </div>
              </div>

              <div class="row" ng-show="availableOnEnabled">
                <div class="small-12 columns">
                  <label>Ausblenden ab <i class="fa fa-info-circle open" data-tooltip="" aria-haspopup="true" title="Ab diesem Zeitpunkt ist die Aufgabe nicht mehr sichtbar (optional)"></i></label>
                  <a ng-show="!hideAfterEnabled" ng-click="toggleHideAfter()">Ausblenden setzen</a>
                  <a ng-show="hideAfterEnabled" ng-click="toggleHideAfter()">Ausblenden entfernen</a>

                  <div ng-show="hideAfterEnabled" style="margin-top:0.5rem">
                    <input type="datetime-local" step="900" id="hideAfter" class="assignment-datetime"
                           ng-model="hideAfter" ng-change="sethideAfter(hideAfter)" />
                  </div>
                </div>
              </div>

            </div> <!-- end control visibiity -->

          </div> <!-- end dates-container -->
      </fieldset>
    </div>
  </div>

  <div class="row">
    <div class="small-12 text-center columns">
      <a class="button small secondary" ng-class="{disabled:!material.name.length || !trinket}" ng-click="saveAssignment($event)"><i class="fa fa-save"></i> Aufgabe {{ existing ? 'speichern' : 'anlegen' }}</a>
      <a class="button small caution" ng-click="close()">Abbrechen</a>
    </div>
  </div>

</form>
<a class="close-reveal-modal" aria-label="Schließen" ng-click="close()">&#215;</a>
